<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
     <style>
        form{color:blue;text-align:left;font-size:180%;}
        h2{color :blue; font-size:260%;background-color: darkblue;}

    </style>
</head>
<body style="background-color:LightSteelBlue;">
<h2 style= "text-align:center;">LOG IN</h2>
<form action="login" method="post">

    {% csrf_token %}
    <input type="text" name="username" placeholder="enter your user name"><br>
    <input type="password" name="password" placeholder="enter password"><br>
    <input type="submit">




</form>

</body>
</html>